@using KoolBan.Models
<!-- ko with: board -->
<div class="jumbotron" style="margin: 0;">
    <div class="container">
        <div class="page-header"><h1 data_bind="valueWithInit: 'projectId'">@Model.ProjectId</h1></div>
        <input id="projectId" value=@Model.ProjectId style="visibility: hidden"> <!--retrieved by the client-side viewmodel-->
    </div>
</div>
<div class="jumbotron kanban" style="overflow-x: auto; width: 100%;">
    <!--    <div class="container table-responsive" style="overflow-x: auto; width: 100%;"> -->
    <div data-bind="template: { name: 'kanban-template', foreach: columns, as: 'column' }"></div>
<h2>Participants</h2>
Here are the participants:
<div data-bind="template: { name: 'person-template', foreach: people }"></div>
</div>
<table class="kanban-table">
    <thead>
        <tr>
            @{ var count = 0; }
            @foreach (var col in @Model.Columns)
            {
                ++count;
                <th class="kanban columnhead" id="columnhead-@count">
                    <h3 class="kanban h3">
                        @col.ColumnName
                        @if (col.Capacity == null || col.Capacity > 0)
                        {
                            <small class="restriction">[@col.Notes.Count/<span class="limit">@col.Capacity</span>]</small>
                        }
                    </h3>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            @{ var colcount = 0; }
            @foreach (var col in @Model.Columns)
            {
                ++colcount;
                IEnumerable<Note> list = col.Notes;
                var sortedList = list.OrderBy(f => f.Description.Count()).Reverse();
                <td class="kanban-table" id="column-@colcount">
                    <div class="metro">


                        @foreach (var note in sortedList)
                        {
                            var size = "tile";

                            if (note.Description.Length < 40)
                            {
                                size = "tile";
                            }
                            else if (note.Description.Length < 106)
                            {
                                size = "tile double";
                            }
                            else
                            {
                                size = "tile double double-vertical";
                            }
                            string color = "bg-dark" + note.NoteColor;
                            string ol = "ol-" + note.NoteColor.ToString().ToLower();
                            string olhex = Note.NoteColorToHex(note.NoteColor);


                            <div class="@size main @color @ol" style="-webkit-box-shadow: none; -ms-box-shadow: none; box-shadow: none;">
                                <p>@note.Description</p>

                                <div class="metro tile config ol-transparent">
                                    <a href="" class="glyphicon glyphicon-edit" style="font-family: 'Glyphicons Halflings'; color: @olhex;"></a>
                                </div>

                                <div class="metro tile logo ol-transparent">
                                    <span class="glyphicon-@note.Logo" style="font-family: 'Glyphicons Halflings'"></span>
                                </div>
                            </div>
                        }
                    </div>
                </td>
            }
    </tbody>
</table>
<!--</div> -->
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>Your information</h2>
            <p>This section shows how you can call ASP.NET Web API to get the user details.</p>

            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET Single Page Application (SPA) helps you build applications that include significant client-side interactions using HTML, CSS, and JavaScript.
                It's now easier than ever before to getting started writing highly interactive web applications.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=273732">Learn more &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

<script type="text/html" id="kanban-template">
    <span>POOP</span>
    <span data-bind="text: column.ColumnName"></span>
    <table class="kanban-table">
        <thead>
            <tr>
                 <!-- ko template: { name: 'kanban-headers-template', foreach: $parent, as: 'columnheader' } -->
                 <!-- /ko -->        
            </tr>
        </thead>
        <tbody></tbody>
    </table>

</script>

<script type="text/html" id="kanban-headers-template">

    <span>Poop2</span>
    <th class="kanban columnhead" id="kanban-header-$index">
        <h3 class="kanban h3">
            <span data-bind="text: columnheader.ColumnName"></span>
            <span data-bind="if: columnheader.Notes.length > 0">
                <small class="restriction">[</small>
                <small class="restriction" data-bind="text: columnheader.Notes.length"></small>
                <small class="restriction">/</small>
                <span class="limit" data-bind="text: columnheader.Capacity"></span>
                <small class="restriction">]</small>
            </span>
        </h3>
    </th>

</script>

<script type="text/html" id="person-template">
    <h3 data-bind="text: name"></h3>
    <p>Credits: <span data-bind="text: credits"></span></p>
</script>




<!-- /ko -->
