<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>KoolBan @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header class="navbar-inverse navbar-static-top" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("KoolBan", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Board", "Index", "Home", new { id = "Demo" }, null)</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { }, null)</li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- <div class="container body-content"> -->
    @RenderBody()
    @RenderSection("SPAViews", required: false)
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - KoolBan</p>
    </footer>
    <!--</div>-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
